*/obj/*
*/bin/*
**/__generated__/*
**/x10_generated/*
*/packages/*
*/dist/*

x10/.DS_Store
.vs
*.csproj.user

# copied react_lib
**/src/react_lib/*

# Node projects
# dependencies
*/node_modules
/.pnp
.pnp.js

# testing
*/coverage

# production
*/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*